* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.active {
    color: blue;
    border: 0 0 2px 0 solid blue;
}